.headerChambre {
    background-image: url('https://cache.marieclaire.fr/data/photo/w1000_ci/62/chambre-moderne1.jpg');
      color: white;
      display: flex;
      justify-content: center;
      align-items: end;
      position: relative;
      width: 100vw;
      height: 90vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .headerbackground{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    
    