.headerHotel {
    background-image: url('https://parisjetaime.com/data/layout_image/fr-FR/Hotel-enseigne-neon-630x405-C-Thinkstock.jpg');
      color: white;
      display: flex;
      justify-content: center;
      align-items: end;
      position: relative;
      width: 100%;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .headerbackgroundHotel{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: end;
      border: 2px solid beige;
      background-color: rgba(0, 0, 0, 0.4);
    }
    

    .headerbackground p{
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    